body {
    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

}

.main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    z-index: 1;
    align-items: center;
}

.top-menu {
    position: sticky;
    height: 0px;
    top: 10px;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
}

.btn-sound {
    width: 3em;
    height: 3em;
    background: #D9D9D9;
    border-radius: 8px;
    height: 60px;
    width: 60px;
}

.cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sname {
    position: absolute;
}

.sname div {
    padding-inline: 1em;
    font-size: 1em;
    width: fit-content;
    background: #A9AF9D;
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.sname p {
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    font-family: 'Usual';
}

.image-text {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    object-fit: contain;
    overflow-x: hidden;
    width: 100%;
    height: 101vh;
}

.image {
    position: relative;
    margin-left: 5%;
    object-fit: cover;
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
}

#circle_of_roses {
    width: 90%;
    transform: rotate(90deg);
    max-width: 100%;
    overflow-x: auto;
    object-fit: cover;
}

.circle {
    position: absolute;

    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.first {
    top: 21%;
    width: 60%;
    height: 60%;
    background: rgba(39, 56, 10, 0.4);
}

.second {
    top: 28%;
    width: 47%;
    height: 47%;
    background: rgba(39, 56, 10, 0.4);
}

.third {
    top: 33%;
    width: 35%;
    height: 35%;
    background: #A9AF9D;
    opacity: 80%;
}

.text_circle {
    text-align: center;
}

.sec {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hello {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
}

.program {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #D9D9D9;
    border-radius: 1em;
    width: 100%;
}

.name-box {

    letter-spacing: 0.01em;
    text-transform: capitalize;
}

.chert {
    margin: 20px 0;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px solid #333;
    border-radius: 1px;
}

.big {
    width: 16em;
}

.mini {
    width: 10em;
}

.mae {
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #000000;
    margin-top: 0.5em;
    line-height: 2.5em;
}

.preMapa{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
}

.preMapa div{
    width: 100%;
}

.mapa {
    margin-top: 4vh;
    width: 100%;
}

.dress {
    margin-top: 3em;
}

.pic {
    margin: 1em;
}

.pic img{
    height: 40%;
}

.usual-font{
    font-size: 18px;
}

.dress-pic {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

@font-face {
    font-family: 'AgoniaLyubvi';
    src: local("AgoniaLyubvi"),
        url("fonts/AgoniaLyubviRegular.woff") format("woff2");
}

@font-face {
    font-family: 'Usual';
    src: local("Usul"),
        url("fonts/TrajanPro3-Regular.woff") format("woff2");
}

.lovely {
    font-family: "AgoniaLyubvi";
    
    line-height: 1.5em;
}

.small-text{
    font-size: 18px;
}