body {
    font-family: 'Inter';
    font-style: normal;
    font-size: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    background-color: #F7F7F4;
}

.main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    z-index: 1;
    align-items: center;
}

.cont {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.cent-vh {
    height: 101vh;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.autoscroll {
    scroll-snap-align: start;
}

.sname {
    display: none;
}

.sname div {
    padding-inline: 1em;
    font-size: 1em;
    width: fit-content;
    background: #A9AF9D;
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.sname p {
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    font-family: 'Usual';
}

.image-text {
    display: flex;
    position: relative;
    flex-direction: column;
    object-fit: contain;
    overflow-x: hidden;
    width: 100%;
    height: 101vh;
    overflow: hidden;
}

.image {
    position: relative;
    width: 1000px;
    height: 1000px;
    display: flex;
    justify-content: center;
    object-fit: cover;
    z-index: 2;
}

#circle_of_roses {
    position: absolute;
    transform: rotate(90deg);
    max-width: 100%;
    overflow-x: auto;
    object-fit: cover;
    width: 100%;
    margin-top: -100px;
}

.circle {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.first {
    top: 21%;
    width: 60%;
    height: 60%;
    background: rgba(39, 56, 10, 0.4);
}

.second {
    top: 28%;
    width: 47%;
    height: 47%;
    background: rgba(39, 56, 10, 0.4);
}

.third {
    top: 33%;
    width: 35%;
    height: 35%;
    background: #A9AF9D;
    opacity: 80%;
}

.text_circle {
    text-align: center;
}

.hello {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hello div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sec {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.program {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #D9D9D9;
    border-radius: 1em;
    width: 60%;
}

.name-box {
    letter-spacing: 0.01em;
    text-transform: capitalize;
}

.chert {
    margin: 20px 0;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px solid #333;
    border-radius: 1px;
}

.big {
    width: 16em;
}

.mini {
    width: 10em;
}

.mae {
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #000000;
    margin-top: 0.5em;
    line-height: 2.5em;
}

.preMapa {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mapa {
    margin-top: 4vh;
    width: 100%;
}

.dress {
    margin-top: 3em;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.dress-sub{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pic {
    margin: 1em;
    margin-bottom: 0%;
}

.pic img {
    height: 40%;
}

.dress-pic {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

@font-face {
    font-family: 'AgoniaLyubvi';
    src: local("AgoniaLyubvi"),
        url("fonts/AgoniaLyubviRegular.woff") format("woff2");
}

@font-face {
    font-family: 'Usual';
    src: local("Usul"),
        url("fonts/TrajanPro3-Regular.woff") format("woff2");
}

.lovely {
    font-family: "AgoniaLyubvi";
    line-height: 2em;
}

.small-text {
    font-size: 26px;
}

.usual-font {
    font-size: 26px;
}

.arrow {
    position: absolute;
    top: 94vh;
    z-index: 10;

}

.arrow-sub img {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 100%;
}

.arrow-sub{
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}

#secArrow {
    position: absolute;
    top: 20px;
    animation-name: arrowmotion;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes arrowmotion {
    70% {
        top: 0px;
        opacity: 10%;
    }
}

.hello .arrow {
    top: 194vh;
}

.preMapa .arrow {
    top: 294vh;
}

.sec .arrow {
    top: 397vh;
}

.dress .arrow {
    top: 505vh;
}

.formAll {
    display: flex;

}

.forma {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #D9D9D9;
    padding: 4vh;
    border-radius: 2vh;
}

#teleform {
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

label {
    display: flex;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1.5px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
    border-color: #526e5a;
    background-color: #689384;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}

.custom-checkbox:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

.custom-checkbox:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(50, 108, 69, 0.37);
}

.custom-checkbox:focus:not(:checked)+label::before {
    border-color: #D9D9D9;
}

.custom-checkbox:disabled+label::before {
    background-color: #e9ecef;
}

.custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-radio:not(:disabled):not(:checked)+label:hover::before {
    border-color: #2f619c;
}

.custom-radio:not(:disabled):active+label::before {
    background-color: #44084f;
    border-color: #2fa339;
}

.custom-radio:focus+label::before {
    box-shadow: 0 0 0 0.2rem rgba(13, 130, 173, 0.25);
}

.custom-radio:focus:not(:checked)+label::before {
    border-color: #f509f5;
}

.custom-radio:checked+label::before {
    border-color: #000;
    background-color: #71957a;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.custom-radio:disabled+label::before {
    background-color: #d20f22;
}

input[type="text"] {
    border: 1.5px solid #526e5a; 
    border-radius: 3px; 
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    -khtml-border-radius: 3px; 
    background: #ffffff !important; 
    outline: none; 
    height: 24px; 
    width: 100%;
    padding: 0.5em;
    color: #3b3838; 
    font-family: Tahoma; 
 }

.subsub{
    width: 100%;
    display: flex;
    justify-content: center;
}

 .btn-sub{
    padding: 0.2em;
    border: #000 solid 1px;
    border-radius: 0.3em;
    cursor: pointer;
 }

.colorPad{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.color-1{
    display: flex;
    width: 5em;
    height: 5em;
    margin: 0.3em;
    margin-top: 2em;
    border-radius: 100%;
}